<div class="post">
  <div class="green">
		<h3>{{show.band}}</h3>
		<img src={{show.image}}>
		<h4>at the {{show.venue}}
		on {{show.date}}-2016</h4>
	</div>
</div>

<div class="attendees">
  {{#each attendees as |attendee|}}
    {{#link-to 'user' attendee.id}}
      <div class="matchTile">
        <img src="{{attendee.image}}">
        <p>{{attendee.name}}</p>
      </div>
    {{/link-to}}
  {{/each}}
</div>
