<div class="postuser">
<div class="row">
  <div class="col-md-6">
    <img src="{{user.image}}" alt="{{user.name}}" />
  </div>
  <div class="col-md-6">
    <h1>This Is The User Page For {{user.name}}.</h1>

    These are the shows that {{user.name}} has/will attend:

    {{#each user.shows as |show|}}

      <p>{{#link-to 'show' show.id}}{{show.band}} - {{show.date}}{{/link-to}}</p>

      {{current-user-check user activeUser}}

    {{/each}}
  </div>
</div>
</div>
